.character-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 210px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
  cursor: pointer;
  .name {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
}

.avatar-container {
  position: relative;
  margin-bottom: 16px;
  .avatar-shadow {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 5%;
      object-fit: cover;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}
